@{
    ViewBag.Title = "Contact";
}

<article>
    <section class="contact">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>+971.4.555.1212</span>
        </p>
        <p>
            <span class="label">After Hours:</span>
            <span>+971.4.555.1313</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:support@avitrade.com">support@avitrade.com</a></span>
        </p>
        <p>
            <span class="label">Marketing & Sales:</span>
            <span><a href="mailto:sales@avitrade.com">sales@avitrade.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:info@avitrade.com">info@avitrade.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            1 Kings Road<br />
            Barsha, Dubai, United Arab Emirates
        </p>
    </section>
</article>

<aside>
    <h3>Useful Links</h3>
    <ul>
        <li>@Html.ActionLink("View Program Features", "Features", "Home")</li>
        <li><a href="">Fill out an Online Enrollment Form</a></li>
        <li><a href="">Request a Personal Presentation</a></li>
        <li><a href="">Send us a Question</a></li>
    </ul>
    
</aside>
