@{
    ViewBag.Title = "Home Page";
}

<div class="home-hero">
    <p>=> Maintain Existing Contracts</p>
    <p>=> Get Great Insights on your data</p>
    <p>=> 99% Up Time</p>

    <div class="features">
        <div class="col1" onclick="location.href='/Home/Features'">
            <h2>features</h2>
            <a href="#">learn more</a>
        </div>
        <div class="col2" onclick="location.href='/Login/TradersRegister'">
            <h2>registrations</h2>
            <a href="#">learn more</a>
        </div>
        <div class="col3" onclick="location.href='/Login/LogOn'">
            <h2>use</h2>
            <a href="#">learn more</a>
        </div>
    </div>
</div>